

    <div id="filters">

    

        <!-- First  -->
        <div class="filter">
            <div> <i class="fa-solid fa-fire"> </i> </div>
            <p> Trending </p>
        </div>

        <!--  second -->

        <div class="filter">
            <div> <i class="fa-solid fa-bed"> </i> </div>
            <p> Room </p>
        </div>

        <!-- third  -->
        <div class="filter">
            <div> <i class="fa-solid fa-mountain-city"> </i> </div>
            <p> Iconic City </p>
        </div>

        <!--  fourth -->

        <div class="filter">
            <div> <i class="fa-solid fa-mountain"> </i> </div>
            <p> Mountians </p>
        </div>

        <!-- Fifth  -->
        <div class="filter">
            <div> <i class="fa-brands fa-fort-awesome"> </i> </div>
            <p> Castles </p>
        </div>

        <!--  sixth -->

        <div class="filter">
            <div> <i class="fa-solid fa-person-swimming"> </i> </div>
            <p> Amazing Pool </p>
        </div>

        <!-- seventh -->

        <div class="filter">
            <div> <i class="fa-solid fa-campground"> </i> </div>
            <p> Camping </p>
        </div>

        <!-- Eighth  -->
        <div class="filter">
            <div> <i class="fa-solid fa-cow"> </i> </div>
            <p> Farm </p>
        </div>

        <!--  Nineth -->

        <div class="filter">
            <div> <i class="fa-regular fa-snowflake"> </i> </div>
            <p> Arctic </p>
        </div>

        <!-- Tenth -->
        <div class="filter">
            <div> <i class="fa-solid fa-key"></i></div>
            <p>New</p>
        </div>

        <!-- Eleventh -->
        <div class="filter">
            <div> <i class="fa-solid fa-palette"></i></div>
            <p> Creative Spaces </p>
        </div>


        <!-- Eleventh -->
        <div class="filter">
            <div> <i class="fa-solid fa-umbrella-beach"></i></div>
            <p> Beach </p>


            
        </div>

    

        <div class="Tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after tax</label>
            </div>

        </div>
    </div>

